@font-face {
    font-family: manuscrita;
    src: url('fonts/cathylisejanetson/Cathylise_Janetson.otf');
}

h1 {
    padding: 1rem;
    font-family: manuscrita;
    text-shadow: 6px 6px 12px;
    color: #333;
}

.tablero {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
    background-color: green;
    min-height: 60vh;
    padding: 1em;
}

.naipe {
    width: 180px;
    height: 320px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    background-color: whitesmoke;
    position: relative;

}

.naipe img {
    position: absolute;
    width: 80%;
    height: auto;
    box-shadow: inset 12px 12px 24px;

}

.naipe figcaption {
    font-family: manuscrita;
    position: absolute;
    bottom: 10%;
    font-size: 1.5rem;
    opacity: 0;
    transform: rotate(-20deg);
    transition: opacity 2s;
    text-shadow: 6px 6px 12px;
}

.naipe .reverso {
    transition: opacity 2s;
}

.naipe .reverso:hover {
    opacity: 0;
}

.naipe:hover figcaption {
    opacity: 1;
}


#puntuacion {
    font-size: 18px;
    font-weight: bold;
}